.MyForm{
    margin-top: 40px;
    margin-left: 40px;
}

.name, .email, .message {
    margin-bottom: 20px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

.submit{
    width: 80px;
    Height: 40px;
    margin-bottom: 40px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: white; 
    background-color: #4aaaa5;
}

.ContentContainer {
 height: 655px;
}


