.PortFolio1, .PortFolio3, .PortFolio5{
    float: left;
}

.PortFolio2, .PortFolio4{
    float: right;
}

.PortFolio1, .PortFolio2, .PortFolio3, .PortFolio4, .PortFolio5{
    width: 200;
    height: 100;
    margin: 10px;
}

.ContentContainer {
    height: 815px;
}