*{
    box-sizing: border-box;
}

body {
    width: 1162px;
}

.MyName{
    float: left;
    width: 250px;
    height: 100px;
    margin-left: 100px;
    padding-top: 30px;
    text-align: center;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 20pt;
    font-weight: bolder;
    color: white; 
    background-color: #4aaaa5;
}

.MyWebPages{
    float: right;
    margin-right: 105px;
    padding-top: 20px;
}

#AboutPage, #PortfolioPage, #ContactPage {
    color: #777777;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
}

.ContentContainer {
    position: relative;
    width: auto;
    height: 865px;
    clear: both;
    background-image: url("./assets/images/light_alu.png");
    background-color: #cccccc;
    border: 30px;
}

section{
    position: absolute;
    width: 650px;
    margin-top: 40px;
    margin-left: 100px;
    background-color: #ffffff;
    border: medium solid  #dddddd;
}

.ContentHeading
{
    clear: left;
    width: 88%;
    Height: 70px;
    margin-top: 40px;
    margin-left: 40px;
    padding-top: 20px;
    font-size: 20pt;
    font-weight: bolder;
    color: #4aaaa5;
    background-color: #ffffff;
    border-bottom: medium solid  #cccccc;
}

.MyPicture{
    float: left;
    width: 300px;
    height: 600px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.MyBio{
    color: #777777;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    text-align: justify;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

aside{
    position: absolute;
    width: 270px;
    height: 150px;
    padding-top: 20px;
    background-color: #666666;
    top: 0px;
    right: -310px;
    text-align: center;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bolder;
    color: #4aaaa5;
    background-color: #ffffff;
    border: medium solid  #dddddd;
}

.ConnectWithMe
{
    width: 250px;
    border-bottom: medium solid #cccccc;
    text-align: center;
    margin-left: 7px;
    padding-bottom: 20px;
}

.GitHubIcon, .LinkedInIcon, .StackOverFlowIcon
{
    width: 75px;
    height: 75px;
}

footer{
    clear: both;
    height: 100px;
    padding-top: 45px;
    text-align: center;
    color: #777777;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

 @media screen and (max-width: 980px) {
    body {
        background-color: lightgreen;
    }

    .wrapper{
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    body {
        
        background-color: none;
        
    }

    .wrapper{
        width: 650px;
    }

    footer {
        margin-top: 350px;
    }

    aside {
        position: unset;
        clear: both;
        width: 645px;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 50px;
        text-align: left;
        border: none;
    }
    .ConnectWithMe {
        text-align: left;
    }
}

@media screen and (max-width: 640px) {
    body {
        background-color: red;
    }

    header{
        position: static;
    }
}
